<div id="content" >
  
  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-6" >

        <div sa-widget [editbutton]="false" color="redLight" >
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>

            <h2>Commune &nbsp; &nbsp; | &nbsp; Total : {{response.Count}}</h2>
          </header>
          <div>
            <div class="widget-body" [ngBusy]="{busy : busyCommune,message : 'Veuillez patienter...'}">
             <div class="col-md-12"> 
                <div class="form-group col-sm-8">
                  <div class="icon-addon addon-md">
                    <input type="text" placeholder="Rechercher ..." class="form-control" [(ngModel)]="requestSw.SearchValue">
                    <label class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
                  </div>
                  </div>
                  <div class="col-sm-2">

                    <!-- <a class="btn btn-default pull-right" (click)="communeModal.show()"><i class="fa fa-plus"></i> Ajouter</a> -->
                   <a class="btn btn-default pull-right" (click)="openCommune(templateCommune)"><i class="fa fa-plus"></i> Ajouter</a> 
                  </div>
                  <div class="col-sm-2">
                      <select class="pull-right form-control " style="width: 70px;" [(ngModel)]="requestSw.value" #ctrl="ngModel" (change)="refreshTable()">
                         <option disabled ></option>
                         <option *ngFor="let page of datasSelect " >{{page}}</option>
                      </select>
                  </div>
             </div>
             <div class="col-md-12">
                <div class="table-responsive">
                    
                  <!--span> test date {{itemToSave.dateFormatJsonTest  | FormatJsonDatePipe}} </span-->

                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align:left;"><i class="fa fa-refresh" aria-hidden="true" (click)="(null)" style="font-size: 14px;"></i></th>
                        <th>Libellé</th>
                        <th>Date création</th>
                        <th>Action</th>  
                      </tr>
                      </thead>
                      <tbody *ngFor="let item of response.Items; let indice = index">
                      <tr>
                        <td>{{indice+1}}</td>
                        <td>{{item.libelle}}</td>
                        <td>{{item.dateCreation}}</td>
                        <td><i class="fa fa-edit" style="color : green;"></i> &nbsp;&nbsp;<i class="fa fa-trash" style="color:red;"></i></td>
                      </tr>
                      </tbody>
                    </table>
    
                  </div>
             </div>
             

            </div>
          </div>
        </div>
      </article>

    </div>

  </sa-widgets-grid>
</div>

<ng-template #templateCommune>
  <form name="frmSave">
      <div class="modal-header custom-modal-header" style=" border-bottom: 1px solid #f70a0a !important;">
            <h4 class="modal-title pull-left">Enregistrer une commune</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
             <span aria-hidden="true">&times;</span>
            </button>
      </div>

       <div class="modal-body">
         <div class="row">
              <div class="form-group col-md-12">
                <div class="form-group col-md-12">
                      <label>Libellé (<span style="color: red;">*</span>) : </label>
                      <input class="form-control" [(ngModel)]="itemToSave.libelle" name="libelle" required type="text">
                      <span class="label label-danger label-sm" *ngIf="requiredField[0]">&nbsp; Ce champs est obligatoire</span>
                </div>
                
                <div class="form-group col-md-12">
                    <label>Date de création: </label>
                    <input type='text' id="heure"   class="form-control custom_input col-md-6"  placeholder="Date"  bsDatepicker name="dat" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" [(ngModel)]="itemToSave.createAt">
                </div>

             
         </div>
                
              
       </div>
          <div class="modal-footer modal-footer-custom"  [ngBusy]="busySave">
                  <b class="pull-left">(<span class="required_champs">*</span>) Champs requis</b>
                        
                        <button  type="button" class="btn btn-md btn-primary" style="background-color: #532c2c;color: white; font-weight: bold !important; border-color:#532c2c;" (click)='saveCommune(itemToSave)'>
                            Enregistrer
                        </button>

                          <button  type="button" class="btn btn-md btn-default " (click)="cancel()">
                                  Annuler
                         </button>
                      
              </div>
         </form>
 </ng-template>
